<% layout('../layout.ejs') -%>

<% block('title', 'Incoming Orders') %>

<section id="bill">
  <table id="main_table">
    <thead>
      <th>Order Number</th>
      <th>Time Remaining</th>
      <th>Phone Number</th>
      <th>Orders</th>
      <th colspan="2">Message Customer</th>
    </thead>

    <% for (const lineItem of lineItems) { %>
    <tr>
      <td><a href = "/restaurant/orders/<%= lineItem.id %>"><%= lineItem.id %></a></td>
      <td>
        <span class="timer" data-received-at="<%= lineItem.received_at %>" data-prep-time="<%= lineItem.prep_time %>">
          <%= lineItem.prep_time || "--" %>
        </span>
      </td>
      <td><%= lineItem.customer_phone %></td>
      <td>
        <table class="order_table">
          <tr>
            <td><%= lineItem.pizza %></td>
          </tr>

        </table>
      </td>
      <td><button>message</button></td>
      <td>
        <% if (lineItem.completed_at) { %>
        <span>Already done!</span>
        <% } else { %>
        <form action="/restaurant/orders/<%= lineItem.id %>/complete" method="post">
          <input type="submit" value="Complete">
        </form>
        <% } %>
      </td>
    </tr>
    <% } %>

  </table>
</section>
