<% layout('../order-form.ejs') -%>

<% block('title', 'Menu') -%>

<main id="menu_container">

  <h2>Place your order</h2>
  <p>
    Adjust the quantities of the pizzas you want to order, enter your phone
    number, and place your order. Easy as (pizza) pie!
  </p>

  <form action="/orders" method="post" class="new-order">
    <% for (const menuItem of menuItems) { %>
    <article>
      <img src="<%= menuItem.photo_url %>"></img>
      <div class="words">
        <header class="menu">
          <h2 class="menu_item_name"><%= menuItem.menu_item_name %></h2>
          <h3 class="price"><%= menuItem.price %></h3>
        </header>
        <div class="description_and_quantity">
          <p class="description"><%= menuItem.description %></p>
          <input type="hidden" class="menu_item_id" name="menu_item_id" value="<%= menuItem.id %>">
          <input type="hidden" class="menu_item_price" name="menu_item_price" value="<%= menuItem.price %>">
          <div class="quantity_field">
            <label for="quantity">Quantity</label>

            <button name="increment" value="<%= menuItem.id %>">&plus;</button>
            <input type="number" min="0" name="menu_item_quantity" value="0" class="input-text qty text">
            <button name="decrement" value="<%= menuItem.id %>">&minus;</button>
          </div>
        </div>
      </div>
    </article>
    <% } %>

    <br>

    <section class="cart">
      <div class="hiddenError error">
        <span class="error-message">
      </div>

      <img class="smallLogo" src="/assets/small_logo.png"></img>

      <ul class="items"></ul>

      <p>Your total is: <span id="sub-total">$0.00</span></p>

      <div class="inputs">
        <label for="customer_phone">Phone number:</label>
        <input type="text" name="customer_phone" placeholder="xxx-xxx-xxxx">
        <input type="submit" name="submit" value="Place order">
      </div>
    </section>

  </form>
</main>
