<% layout('../order-form.ejs') -%>

<% block('title', 'Menu') -%>

<form action="/orders" method="post" class="new-order">

  <div class="parallax-wrapper">

    <div class="floating_words">
      <% for (const menuItem of menuItems) { %>
      <% if (menuItem.item_type_id === 1){ %>
      <section class="menu-item">
        <header>
          <h1 class="name"><%= menuItem.menu_item_name %></h1>
          <h2 class="price"><%= menuItem.price %></h2>
        </header>
        <p><%= menuItem.description %></p>
        <input type="hidden" class="menu_item_id" name="menu_item_id" value="<%= menuItem.id %>">
        <input type="hidden" class="menu_item_price" name="menu_item_price" value="<%= menuItem.price %>">
        <div class="quantity_field">
          <label for="quantity">Quantity</label>
          <button name="decrement" value="<%= menuItem.id %>">&minus;</button>
          <input type="number" min="0" name="menu_item_quantity" value="0" class="input-text qty text">
          <button name="increment" value="<%= menuItem.id %>">&plus;</button>
        </div>
      </section>
      <% } %>
      <% } %>
    </div>

  </div>
  <div class="regular_wrapper">

    <div class="floating_words">

      <% for (const menuItem of menuItems) { %>
      <%if (menuItem.item_type_id === 2){ %>
      <section class="menu-item">
        <header>
          <h1 class="name"><%= menuItem.menu_item_name %></h1>
          <h2 class="price"><%= menuItem.price %></h2>
        </header>
        <p><%= menuItem.description %></p>
        <input type="hidden" class="menu_item_id" name="menu_item_id" value="<%= menuItem.id %>">
        <input type="hidden" class="menu_item_price" name="menu_item_price" value="<%= menuItem.price %>">
        <div class="quantity_field">
          <label for="quantity">Quantity</label>
          <button name="decrement" value="<%= menuItem.id %>">&minus;</button>
          <input type="number" min="0" name="menu_item_quantity" value="0" class="input-text qty text">
          <button name="increment" value="<%= menuItem.id %>">&plus;</button>
        </div>
      </section>
      <% } %>
      <% } %>
    </div>
  </div>

  <section class="cart">
    <div class="hiddenError error">
      <span class="error-message">
    </div>

    <img class="smallLogo" src="/assets/small_logo.png"></img>

    <ul class="items"></ul>

    <p>Your total is: <span id="sub-total">$0.00</span></p>

    <div class="inputs">
      <label for="customer_phone">Phone number:</label>
      <input type="text" name="customer_phone" placeholder="xxx-xxx-xxxx">
      <input type="submit" name="submit" value="Place order">
    </div>
  </section>


</form>
