<% layout('../layout.ejs') -%>

<main class="container">
  <form action="/orders" method="post">
    <% for (const menuItem of menuItems) { %>
    <section>
      <header class="menu">
        <h2 class="menu_item_name"><%= menuItem.menu_item_name %></h2>
      </header>

      <img src="<%= menuItem.photo_url %>">

      <span class="description">
        <%= menuItem.description %>
      </span>

      <span class="price">
        <%= menuItem.price %>
      </span>

      <input type="hidden" class="menu_item_id" name="menu_item_id" value="<%= menuItem.id %>">
      <input type="hidden" class="menu_item_price" name="menu_item_price" value="<%= menuItem.price %>">

      <label for="quantity">QTY</label>
      <input type="number" step="1" min="0" max="" name="menu_item_quantity" value="0" title="Qty" class="input-text qty text" size="4" pattern="" inputmode="">
    </section>
    <% } %>

  <br>

  <label for="customer_phone">Phone number:</label>
  <input type="text" name="customer_phone" placeholder="xxx-xxx-xxxx">

  <section>
    <span>
      Your total is:
    </span>

    <span id="sub-total">
      $0.00
    </span>

    <span>
      <input type="submit" name="submit" value="Place order">
    </span>
  </section>

  </form>

</main>
